<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="alien1" class="com.telusko.Alien" scope="prototype" autowire="byType">
		<property name="age" value="21" />
		<property name="com" ref="com1" />

<!-- 		<constructor-arg name="com" ref="desk" /> -->
<!-- 		<constructor-arg name="age" value="21" /> -->
	</bean>

<!-- 	<bean id="alien2" class="com.telusko.Alien" scope="prototype"> -->
<!-- 		<constructor-arg name="salary" value="500000" /> -->
<!-- 		<constructor-arg name="age" value="21" /> -->
<!-- 		<constructor-arg name="com" ref="desk" /> -->

<!-- 	</bean> -->

	<bean id="com1" class="com.telusko.Laptop" primary="true"/>
	<bean class="com.telusko.Desktop"  />


</beans>